html {
    font-family: "Poppins";
}
body {
    margin: 0;
}
.title {
    margin: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */

    text-transform: uppercase;

    color: rgba(34, 52, 61, 0.8);
}

.title span {
    color: #80C4D3;
}

.blog {
    display: flex;
    text-align: left;
    max-width: 300px;
    font-family: 'Poppins';
    gap: 70px;
    margin: 70px;
}

.blog-wrapper a {
    background: url("./images/Vector\ \(3\).png");
    width: 30px;
    height: 23.33px;
    display: block;
}

.blog-wrapper p {
    font-size: 20px;
    font-weight: 400px;
}

.blog-wrapper h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.button {
    font-family: 'Poppins';
    background: #80C4D3;
    border-radius: 5px;
    padding: 20px 30px;
    text-decoration: none;
    color: aliceblue;
    margin: 70px;
    font-weight: 700;
}

.footer {
    margin: 0;
    width: 100%;
    background: #80C4D3;
    margin-top: 70px;
    height: 500px;
    left: 1152px;
    top: 891px;

}

.footer h1 {
    font-family: "Poppins";
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 50px;
}

.footer h3 {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    opacity: 0.5;
}

.footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-links {
    margin-top: 50px;
    padding: 30px;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.footer-social-links {
    margin-top: 42.04px;
    padding: 30px;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height, or 105% */
    letter-spacing: -0.02em;
}

.footer-social-links a {
    display: block;  
}

.icon1 {
    background: url("./images/social/Facebook.png");
    width: 20px;
    height: 19.92px;
}

.icon2 {
    background: url("./images/social/Twitter.png");
    width: 20.92px;
    height: 17px;
}

.icon3 {
    background: url("./images/social/Instagram.png");
    width: 20px;
    height: 20px;
}

.icon4 {
    background: url("./images/social/Viber.png");
    width: 19.9px;
    height: 20px;
}

.icon5 {
    background: url("./images/social/Telegram.png");
    width: 18.02px;
    height: 15.12px;
}


